div.sphinxsidebar #searchadvbox form.search {
    overflow: hidden;
}

div.sphinxsidebar #searchadvbox input[type="text"] {
    float: left;
    width: 80%;
    padding: 0.25em;
    box-sizing: border-box;
}

div.sphinxsidebar #searchadvbox input[type="submit"] {
    float: left;
    width: 20%;
    border-left: none;
    padding: 0.25em;
    box-sizing: border-box;
}

ul.search li a.exturl {
    font-style: italic;
    font-weight: normal;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.search li p.description {
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.search li p.infos {
    font-style: italic;
    margin: 2px 0 0 60px;
    text-align: left;
}

ul.search li span.score {
    font-style: italic;
    font-weight: bold;
}

div.pagination {
    font-size: 120%;
}

div.pagination span.current {
    font-weight: bold;
}
